---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import bts1 from "../images/bts/bts1.jpg";
import bts2 from "../images/bts/bts2.jpg";
import bts3 from "../images/bts/bts3.jpg";
import bts4 from "../images/bts/bts4.jpg";
import bts5 from "../images/bts/bts5.jpg";
import bts6 from "../images/bts/bts6.jpg";
import bts7 from "../images/bts/bts7.jpg";
import bts8 from "../images/bts/bts8.jpg";
---

<Layout title="BTS">
	<div class="heading-wrapper">
		<div class="heading-content">
			<h1>Behind The Scenes</h1>
			<p>
				Welcome to the snippets of everyday life, the scenes that sometimes don't see social media.
				<br /><br />I've always believed that your best camera is the one in your hand, your phone.
			</p>
		</div>
	</div>

	<div class="gallery">
		<Image src={bts1} alt="M2 Steering Wheel" />
		<Image src={bts2} alt="3RS Key" />
		<Image src={bts3} alt="Turbo S Daylight" />
		<Image src={bts4} alt="R34 Juiced 2" />
		<Image src={bts5} alt="Selfie" />
		<Image src={bts6} alt="812 GTS Top Spec" />
		<Image src={bts7} alt="Park 'n Pizza" />
		<Image src={bts8} alt="Editing Sessions" />
	</div>

	<!-- <script is:inline src="/lightbox-plus-jquery.js"></script> -->
</Layout>

<style>
	/* @import url("../styles/lightbox.css"); */

	.heading-wrapper {
		padding-top: 85px;
	}

	.heading-content {
		h1,
		p {
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		p {
			text-align: center;
			line-height: 20px;
			padding: 1rem;
		}
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 30px;
		padding: 30px;

		img {
			object-fit: cover;
			height: 340px;
			width: 100%;
		}

		img:hover {
			transform: scale(1.03);
			transition: ease-out.2s;
		}
	}

	@media (max-width: 305px) {
		.heading-wrapper {
			padding-top: 55px;

			.heading-content {
				h1 {
					font-size: 22px;
				}

				p {
					padding: 10px;
				}
			}
		}

		.gallery {
			padding: 10px;
		}
	}
</style>
