---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";

import pursuit from "../images/journal/pursuit.jpg";
import journal1 from "../images/journal/1.jpg";
import journal2 from "../images/journal/2.jpg";
import journal3 from "../images/journal/3.jpg";
import journal4 from "../images/journal/4.jpg";
import journal5 from "../images/journal/5.png";
---

<Layout title="Journal">
	<div class="journal">
		<div class="card-item">
			<a href="/journals/pursuitofbuilding">
				<Image class="pursuit-img" src={pursuit} alt="pursuit" />
				<h1>The pursuit of building</h1>
				<p>
					19/05/24 <br />
					It's about the process rather than the destination
				</p>
			</a>
		</div>
		<div class="card-item">
			<Image class="pursuit-img" src={journal1} alt="pursuit" />
			<h1>Meeting your heroes</h1>
			<p>
				19/05/24 <br />
				It's about the process rather than the destination
			</p>
		</div>
		<div class="card-item">
			<Image class="pursuit-img" src={journal2} alt="pursuit" />
			<h1>New Experiences</h1>
			<p>
				19/05/24 <br />
				It's about the process rather than the destination
			</p>
		</div>
		<div class="card-item">
			<Image class="pursuit-img" src={journal3} alt="pursuit" />
			<h1>Love what you do</h1>
			<p>
				19/05/24 <br />
				It's about the process rather than the destination
			</p>
		</div>
		<div class="card-item">
			<Image class="pursuit-img" src={journal4} alt="pursuit" />
			<h1>Friends & Cars</h1>
			<p>
				19/05/24 <br />
				It's about the process rather than the destination
			</p>
		</div>
		<div class="card-item">
			<Image class="pursuit-img" src={journal5} alt="pursuit" />
			<h1>Sucker for a Sunset</h1>
			<p>
				19/05/24 <br />
				It's about the process rather than the destination
			</p>
		</div>
	</div>
</Layout>

<style>
	.journal {
		padding-top: 45px;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-column-gap: 59px;
		grid-row-gap: 49px;
		grid-auto-rows: min-content;
		margin: 59px;

		h1,
		p {
			text-decoration: none;
			color: white;
		}

		h1 {
			padding-top: 10px;
		}

		a {
			text-decoration: none;
		}

		p {
			padding: 5px 10px 10px 0px;
		}

		.card-item {
			img {
				object-fit: cover;
				height: 280px;
				width: 100%;
			}

			p,
			h1 {
				padding-left: 15px;
			}
		}

		.card-item:hover {
			transform: scale(1.03);
			transition: ease-out.2s;
			background-color: #00adb5;
		}
	}

	@media (max-width: 800px) {
		.journal {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@media (max-width: 600px) {
		.journal {
			display: flex;
			flex-direction: column;

			h1 {
				font-size: 20px;
			}
			p {
				font-size: 10px;
			}
		}
	}

	@media (max-width: 400px) {
		.journal {
			gap: 20px;
		}
	}
</style>
